/* Obstoječa koda, ki že obstaja v tvojem VUS.css */
div[aria-hidden="true"], div span[style*="crossword-compiler.com"] {
    display: none !important;
}

input.correct {
    background-color: #d4edda !important;  /* nežno zelena */
}

input.incorrect {
    background-color: #f8d7da !important;  /* nežno rdeča */
}





