{% extends "base.html" %}
{% block title %}Arhiv križank | VUS{% endblock %}

{% block content %}
<h1>Arhiv križank</h1>

{% if meseci %}
    <h3 class="mt-4">Mesečni arhivi:</h3>
    <div class="mb-3 d-flex flex-wrap justify-content-center">
        {% for mesec in meseci %}
            <a href="{{ url_for('arhiv_krizank_mesec', mesec=mesec) }}"
               class="btn btn-outline-warning m-2">{{ mesec }}</a>
        {% endfor %}
    </div>
{% endif %}

<{% for datum in aktualne %}
    <a class="btn btn-warning m-2" href="{{ url_for('prikazi_krizanko', datum=datum) }}">{{ datum }}</a>
{% endfor %}

</div>
<a href="{{ url_for('home') }}" class="btn btn-secondary mt-4">Domov</a>
{% endblock %}
