{% extends "base.html" %}
{% block title %}Arhiv Sudoku | VUS{% endblock %}

{% block content %}
<h1>Izberi težavnost sudokuja</h1>
<div class="d-flex flex-wrap justify-content-center">
    <a href="{{ url_for('arhiv_sudoku', tezavnost='very_easy') }}" class="btn btn-primary m-2">Zelo lahki</a>
    <a href="{{ url_for('arhiv_sudoku', tezavnost='easy') }}" class="btn btn-primary m-2">Lahki</a>
    <a href="{{ url_for('arhiv_sudoku', tezavnost='medium') }}" class="btn btn-primary m-2">Srednji</a>
    <a href="{{ url_for('arhiv_sudoku', tezavnost='hard') }}" class="btn btn-primary m-2">Težki</a>
</div>
<a href="{{ url_for('home') }}" class="btn btn-secondary mt-4">Domov</a>
{% endblock %}
