{% extends "base.html" %}
{% block title %}Arhiv Sudoku – {{ tezavnost|capitalize }} | VUS{% endblock %}

{% block content %}
<h1>Arhiv sudokujev – {{ tezavnost|capitalize }}</h1>

<ul class="list-group">
    {% for datum in datumi %}
        <li class="list-group-item">
            <a href="{{ url_for('prikazi_sudoku', tezavnost=tezavnost, datum=datum) }}">{{ datum }}</a>
        </li>
    {% endfor %}
</ul>

<a href="{{ url_for('arhiv_sudoku_pregled') }}" class="btn btn-secondary mt-4">Nazaj na izbiro težavnosti</a>
{% endblock %}
